.header {
  width: 100%;
  height: 11em;
  background-color: #383838;
}

.header-contents {
  display: flex;
}


.pageTitle {
  background: -webkit-linear-gradient(45deg, #fc00ff, #00dbde);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  margin-top: 0;
  font-family: monospace;
  font-size: 100px;
  padding-left: 2%;
}

.tater-logo {
 display: flex;
}

@media (prefers-reduced-motion: no-preference) {
    .tater-logo {
      display: flex;
    justify-content: flex-start;
    animation: App-logo-spin infinite 4s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
